{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
    <h1>Login</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}